body {
    padding: 5px 15px;
    background-color: #333333;
}

#content {
    background-color: #333333;
    border-radius: 6px;
}

.item {
    width: 350px;
    padding: 15px;
    margin: 15px;
    background-color: #FFFFFF;
    border-radius: 6px;
}