---
db_name: socialhome
db_user: socialhome
db_password: ***************
db_host: localhost
hostname: mysocialhome.me

#socialhome_secret_key: set this to a nice secret key and uncomment
socialhome_title: My Socialhome
socialhome_subtitle: "Subtitles are nice"

letsencrypt_email: mail@example.com
letsencrypt_domain: mysocialhome.me
