{% extends "base.html" %}

{% block content %}
    <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 500, "itemSelector": ".item" }'>
        {% for container in info_list %}
            <div class="item">
                <h2 class="text-center">{{ container.name }}</h2>
                {% for field in container.fields.all %}
                    <h3>{{ field.label }}</h3>
                    <p>{{ field.text }}</p>
                {% endfor %}
            </div>
        {% empty %}
            <p>No info containers yet.</p>
        {% endfor %}
    </div>
{% endblock %}