{% extends "base.html" %}
{% load dashboard_tags %}

{% block content %}
    <div id="masonry-container">
        {% for container in containers %}
            <div class="item">
                {% if container.show_name %}
                    <h2 class="text-center">{{ container.name }}</h2>
                {% endif %}
                <div class="container-box">
                    {% if container.fields %}
                        {% for field in container.fields.all %}
                            <h4>{{ field.label }}</h4>
                            {{ field.text }}
                        {% endfor %}
                    {% elif container.code %}
                        {{ container.code|safe }}
                    {% elif container.url %}
                        {% class_lower container as class_name %}
                        {% if class_name == 'iframecontainer' %}
                            <iframe src="{{ container.url|safe }}" frameborder="0" width="100%" height="400px"></iframe>
                        {% elif class_name == 'imageurlcontainer' %}
                            <div class="text-center">
                                <img src="{{ container.url|safe }}" class="box-image" alt="{{ container.name }}">
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>No info containers yet.</p>
        {% endfor %}
    </div>
{% endblock %}
